:root {
  --space: 2rem;
  --color-dull: hsl(0, 0%, 85%);
  --color-light: hsl(0, 0%, 95%);
  --border: 1px dashed var(--color-dull);
}

:is(*, ::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: var(--space);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: calc(var(--space) / 4) 0;
}

input, button {
  border: var(--border);
  padding: calc(var(--space) / 4) calc(var(--space) / 3);
  background-color: var(--color-light);
}

form fieldset {
  display: flex;
  border: none;
}

form input[type="email"] {
  flex: 1;
}

table {
  width: 100%;
}

table th {
  font-weight: normal;
  text-align: start;
  font-size: 0.8rem;
  padding: calc(var(--space) / 4) 0;
  border-bottom: var(--border);
}

table td {
  padding: calc(var(--space) / 4) 0; 
}