{{ template "base.layout" . }}

{{ define "content" }}
<section>
  <form hx-post="/add-user" hx-ext="json-enc" hx-target="#users-list" hx-swap="beforeend">
    <fieldset>
      <input type="email" name="email" id="email" placeholder="Email" />
      <input type="submit" name="submit" id="submit" />
    </fieldset>
  </form>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="users-list">
      {{ template "user_table_rows.partial.html" . }}
    </tbody>
  </table>
</section>
{{ end }}