<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/public/css/styles.css" />
<script src="/public/js/htmx.min.js"></script>
<script src="/public/js/json-enc.js"></script>
<title>HTMX Demo - Todo App</title>

<body>
  <main>
    <section>
      <form hx-post="/add-todo" hx-ext="json-enc" hx-target="#todo-list" hx-swap="innerHTML">
        <fieldset> 
          <input type="text" name="new" id="new" placeholder="Add item" />
          <input type="submit" name="submit" id="submit" />
        </fieldset>
      </form>
    </section>

    <section id="todo-list">
      {{template "todolist.partial.html" .}}
    </section>
  </main>
</body>

</html>